$design_width: 1536; //设计稿的宽度，根据实际项目调整
$design_height: 824; //设计稿的高度，根据实际项目调整

@function px2rem($px) {
  $design_font_size: 12;
  @return ($px/$design_font_size) + rem;
}

#title {
  position: absolute;
  left:5%;
  margin: px2rem(12) px2rem(12) px2rem(12) px2rem(12);
  font-family: "Hiragino Sans GB", sans-serif;
  font-size:px2rem(24);
  color: #d2e8ff;
}
.el-menu-demo {
  left: 25%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #000000;

  .el-menu-item.is-active{
    color: #d2e8ff;
  }
  li {
    margin: 0 px2rem(20);
    font-size: px2rem(16);
    color: #d2e8ff;
  }
}
